<mat-table [dataSource]="dataSource" matSort (matSortChange) = "sort($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="carId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.carId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Brand </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header> model </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="body_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Body type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.body_type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gas_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> gas_type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.gas_type}} </mat-cell>
        </ng-container>

    <ng-container matColumnDef="engine_power">
        <mat-header-cell *matHeaderCellDef mat-sort-header> engine_power </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.engine_power}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef > Edit </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click) = "edit(element.carId)">Edit</button> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="delete(element.carId)">Delete</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-toolbar class="footer" color="white">
        <mat-toolbar-row>
            <button mat-raised-button color="primary" (click)="create()">Add</button>
            <button mat-raised-button color="primary" (click)="filter()">Filter</button>
          <span class="example-spacer"></span>
          <mat-paginator color="primary" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = changePage($event)">
            </mat-paginator>
        </mat-toolbar-row>
</mat-toolbar>
    
