
<mat-table [dataSource]="dataSource" matSort (matSortChange) = "sort($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="orderId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="user.userId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.user.userId}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="discount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Discount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.discount}}% </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="contract.done">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Done </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contract.done}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contract.deposit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Deposit </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contract.deposit | number: '0.0-0'}} </mat-cell>
            </ng-container>
    
        <ng-container matColumnDef="totalPrice">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Totalprice </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.totalPrice | number: '0.0-0'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdDate | date: 'MMMM d, y, h:mm:ss a'}} </mat-cell>
            </ng-container>
    
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click) = "edit(element.orderId)">Edit</button> </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="delete(element.orderId)">Delete</button> </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-toolbar class="footer" color="white">
        <mat-toolbar-row>
            <button mat-raised-button color="primary" (click)="filter()">Filter</button>
          <span class="example-spacer"></span>
          <mat-paginator color="primary" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = changePage($event)">
            </mat-paginator>
        </mat-toolbar-row>
    </mat-toolbar>