<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/home">Second-Hand Car</button>
        
        <span class="fill-remaining-space"></span>
        
    <button mat-icon-button matTooltip="Manage cars" *ngIf="userRole" routerLink="/carsmanagement">
      <mat-icon>commute</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Manage order" *ngIf="userRole != null" routerLink="/ordermanagement">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Manage offer" *ngIf="userRole" routerLink="/offermanagement">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
        <button mat-icon-button matTooltip="Manage users" *ngIf="userRole" routerLink="/management">
      <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Login" *ngIf="!loggedIn" routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button matTooltip="Logout" *ngIf="loggedIn" routerLink="/home">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
        

    </mat-toolbar-row>