<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/home">Second-Hand Car</button>
        <button mat-icon-button matTooltip="Edit profile" routerLink="/editprofile" *ngIf="loggedIn">
          <mat-icon>edit icon</mat-icon>
        </button>
        <mat-form-field>
          <mat-label>Current Currency</mat-label>
          <mat-select [(ngModel)]="currency" name="currency.value" #mySelect
          (selectionChange)='onCurrencyChange($event)'>
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{currency.currency_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button matTooltip="Send message" routerLink="/message" *ngIf="loggedIn">
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Manage cars" *ngIf="userRole != null" routerLink="/carsmanagement">
      <mat-icon>commute</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Manage order" *ngIf="userRole != null" routerLink="/ordermanagement">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Manage offer" *ngIf="userRole" routerLink="/offermanagement">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
        <button mat-icon-button matTooltip="Manage users" *ngIf="userRole" routerLink="/management">
      <mat-icon>account_box</mat-icon>
    </button>
        

    </mat-toolbar-row>