#buttons .wide {
    flex: 1 1 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}

.example-spacer{
    flex: 1 1 auto;
}

mat-tool-bar{
    background-color: transparent;
}

mat-slider{
    flex: 1 1 auto;
}
